h2{
    text-align: center;
    color: rgb(243, 243, 243);
    background-color: rgb(16, 36, 148);
}

.cuerpo{
    text-align: center;
    margin-top: 20px;
}

button{
    margin-left: 20px;
}

input{
    margin-left: 20px;
}